<%- include('./partial/_header.ejs'); %>

<%- include('./partial/_admin_header.ejs'); %>

<div class="container mt-5">
  <h1 class="text-center" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);">Manage Employees</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 200px;">Title</th>
        <th style="width: 200px;">Employee</th>
        <th>Comments</th>
        <th style="width: 50px;">Ratings</th>
        <th style="width: 50px;">Actions</th>
      </tr>
    </thead>

    <tbody>
        <% Result.forEach((item) => { %>
          <tr>
            <td><%= item.title %></td>
            <td><%= item.employee %></td>
            <td><%= item.comment %></td>
            <td><%= item.ratings %></td>
            <td>
                <form action="/admin/employeeManage/<%= item._id %>" method="post">
              <button type="submit" class="btn btn-danger" style="font-size: 14px; width: 80px;">
                <i class="fas fa-times"></i> Cancel
              </button>
              </form>

            </td>
          </tr>
        <% }) %>
      </tbody>
      
  </table>
</div>

<%- include('./partial/_footer.ejs'); %>

<style>
  /* Add some general styles to improve the overall look */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }

 

  h1 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
  }

  .card {
    border: none;
    border-radius: 8px;
    padding: 20px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  /* Style the text area */
  .form-control {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.6;
  }

  /* Style the input number */
  .form-control[type="number"] {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.6;
  }

  /* Style the submit button */
  .btn {
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: hsl(0, 100%, 50%);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .btn:hover {
    background-color: #0056b3;
  }

  /* Center the form */
  .text-center {
    text-align: center;
  }
</style>
