
<%- include('./partial/_header.ejs'); %>

<%- include('./partial/_admin_header.ejs'); %>


<div class="container mt-5" style="max-width: 600px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
  <h1 class="text-center">Assign Employees</h1>
  <form id="assignForm" action="/performance/performanceAssign" method="post">
    <div class="form-group">
      <label for="selectedEmployees">Select Employees</label>
      <select multiple class="form-control" id="selectedEmployees" name="selectedEmployees" required>
        <% Result.forEach(item => { %>
          <option value="<%= item._id %>"><%= item.employee %></option>
        <% }); %>
      </select>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Assign Employees</button>
  </form>
</div>

  
  <%- include('./partial/_footer.ejs'); %>


 